# **<04> 데이터 핸들링 - 판다스**

* 판다스: 

    * 행과 열로 이루어진 2차원 데이터를 효율적으로 가공/처리할 수 있는 다양하고 훌륭한 기능 제공
    * 내부 데이터뿐만 아니라 CSV 등의 파일을 쉽게 데이터프레임으로 변경해 데이터의 가공/분석을 편리하게 함

* DataFrame: 여러 개의 행과 열로 이루어진 2차원 데이터를 담는 데이터 구조체, 칼럼이 여러 개임

* Series: 칼럼이 하나뿐인 데이터 구조체

    -> 둘 다 Index를 key 값으로 가지고 있음

---

#### **1. 판다스 시작 - 파일을 DataFrame으로 로딩, 기본 API**

1) 판다스 모듈 임포트: `import pandas as pd`

2) `read_csv('파일명', sep=',')`: 콤마를 구분자로 필드를 구분함 

3) `df.head(n)`: DataFrame의 맨 앞에 있는 n개의 행 반환 (디폴트는 5개)

4) `df.shape`: DataFrame의 행과 열 크기를 튜플 형태로 반환

5) `df.info()`: 총 데이터 건수, 칼럼별 데이터 타입, Null 건수를 알 수 있음

6) `df.describe()`: 칼럼별 숫자형 데이터 값의 n-percentile 분포도, 평균, 최댓값, 최솟값을 나타냄 (오직 숫자형 칼럼의 분포만 조사)

7) `df['칼럼명']`: Series 형태로 데이터 반환

8) `value_counts()`: 지정된 칼럼의 데이터 값 건수를 반환 - 많은 건수부터 출력, Series 객체에서만 정의됨

In [82]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [83]:
titanic_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ESAA/titanic_train.csv")
print('titanic 변수 type:', type(titanic_df))

titanic 변수 type: <class 'pandas.core.frame.DataFrame'>

In [84]:
titanic_df.head(3)

   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked
0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171   7.2500   NaN        S
1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C
2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250   NaN        S

>> 데이터 파일의 첫 줄에 있던 칼럼 문자열이 DataFrame의 칼럼으로 할당됨

>> 이후 콤마로 분리된 데이터 값들이 해당 칼럼에 맞게 할당됨

>> 맨 왼쪽의 숫자는 판다스의 Index 객체 값

In [85]:
print('DataFrame 크기: ', titanic_df.shape)

DataFrame 크기:  (891, 12)

>> 891개의 행, 12개의 열

In [86]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

>> `RangeIndex`: 전체 행과 열의 수

>> `Dtype`: 칼럼별 데이터 타입

>> `Non-Null Count`: 몇 개의 데이터가 Null 값이 아닌지

>> `dtypes`: 전체 칼럼들의 타입을 요약

>> object 타입은 문자열 타입으로 생각해도 무방

In [87]:
titanic_df.describe()

       PassengerId    Survived      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

>> object 타입의 칼럼은 출력에서 제외

>> 숫자형 칼럼에 대한 개략적인 데이터 분포도 확인

>> 카테고리 칼럼을 숫자로 표시한 것인지 판단할 수 있음

In [88]:
value_counts = titanic_df['Pclass'].value_counts()
print(value_counts)

3    491
1    216
2    184
Name: Pclass, dtype: int64

>> 데이터 값에 따른 건수를 반환하므로 데이터의 분포도를 확인하는 데 매우 유용

>> 3, 1, 2 순으로 데이터 많음

In [89]:
titanic_pclass = titanic_df['Pclass']
print(type(titanic_pclass))

<class 'pandas.core.series.Series'>

>> Series 객체 반환

In [90]:
titanic_pclass.head()

0    3
1    1
2    3
3    1
4    3
Name: Pclass, dtype: int64

>> 왼쪽: 해당 데이터의 인덱스

>> 오른쪽: 해당 칼럼의 데이터 값

In [91]:
value_counts = titanic_df['Pclass'].value_counts()
print(type(value_counts))
print(value_counts)

<class 'pandas.core.series.Series'>
3    491
1    216
2    184
Name: Pclass, dtype: int64

>> 왼쪽의 인덱스가 단순히 순차 값이 아닌, 고유성이 보장된 의미있는 데이터 값으로 할당

---

#### **2. DataFrame과 리스트, 딕셔너리, 넘파이 ndarray 상호 변환**

* DataFrame은 리스트, 딕셔너리, 넘파이 ndarray 등으로부터 생성됨

* 반대로 DataFrame이 리스트, 딕셔너리, 넘파이 ndarray 등으로 변환되기도 함

---

#### **2-1. 넘파이 ndarray, 리스트, 딕셔너리를 DataFrame으로 변환하기** 

* DataFrame으로 변환: `pd.DataFrame('객체', columns='칼럼명  리스트')`

* 일반적으로 DataFrame으로 변환 시 칼럼명을 지정해 줌 (지정하지 않으면 자동으로 할당)

* `columns`: 칼럼명 리스트를 입력 받음

In [92]:
import numpy as np

col_name1 = ['col1']
list1 = [1,2,3]
array1 = np.array(list1)
print('array1 shape:', array1.shape)

# 리스트를 이용해 DataFrame 생성
df_list1 = pd.DataFrame(list1, columns=col_name1)
print('1차원 리스트로 만든 DataFrame:\n', df_list1)

# 넘파이 ndarray를 이용해 DataFrame 생성
df_array1 = pd.DataFrame(array1, columns=col_name1)
print('1차원 ndarray로 만든 DataFrame:\n', df_array1)

array1 shape: (3,)
1차원 리스트로 만든 DataFrame:
    col1
0     1
1     2
2     3
1차원 ndarray로 만든 DataFrame:
    col1
0     1
1     2
2     3

>> 1차원 형태의 리스트와 ndarray이므로 칼럼은 1개만 필요

In [93]:
# 3개의 칼럼명이 필요함
col_name2 = ['col1', 'col2', 'col3']

# 2행x3열 형태의 리스트와 ndarray 생성한 뒤 이를 DataFrame으로 변환
list2 = [[1,2,3],
         [11,12,13]]
array2 = np.array(list2)

print('array2 shape:', array2.shape)

df_list2 = pd.DataFrame(list2, columns = col_name2)
print('2차원 리스트로 만든 DataFrame:\n', df_list2)

df_array2 = pd.DataFrame(array2, columns=col_name2)
print('2차원 ndarray로 만든 DataFrame:\n', df_array2)

array2 shape: (2, 3)
2차원 리스트로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    12    13
2차원 ndarray로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    12    13

>> 2행 3열의 데이터이므로 칼럼명은 3개 필요

In [94]:
# key는 문자열 칼럼명으로 매핑, value는 리스트 형(또는 ndarray) 칼럼 데이터로 매핑
dict = {'col1':[1,11], 'col2':[2,22], 'col3':[3,33]}
df_dict = pd.DataFrame(dict)
print('딕셔너리로 만든 DataFrame:\n', df_dict)

딕셔너리로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    22    33

>> 칼럼명: key 값

>> 각 칼럼 데이터: 각 value

---
#### **2-2. DataFrame을 넘파이 ndarray, 리스트, 딕셔너리로 변환하기**

* DataFrame을 ndarray로 변환하는 경우는 빈번하게 발생

* DataFrame 객체의 values를 이용해 쉽게 변환 가능

1) `df.values`: DataFrame의 데이터를 ndarray로 변환

2) `df.values.tolist()`: DataFrame의 데이터를 list로 변환

3) `df.to_dict('list')`: DataFrame의 데이터를 딕셔너리로 변환, 값은 리스트형

In [95]:
# DataFrame을 ndarray로 변환
array3 = df_dict.values
print('df_dict.values 타입:', type(array3), 'df_dict.values shape:', array3.shape)
print(array3)

df_dict.values 타입: <class 'numpy.ndarray'> df_dict.values shape: (2, 3)
[[ 1  2  3]
 [11 22 33]]

In [96]:
# DataFrame을 리스트로 변환
list3 = df_dict.values.tolist()
print('df_dict.values.tolist() 타입: ', type(list3))
print(list3)

# DataFrame을 딕셔너리로 변환
dict3 = df_dict.to_dict('list')
print('\n df_dict.to_dict() 타입:', type(dict3))
print(dict3)

df_dict.values.tolist() 타입:  <class 'list'>
[[1, 2, 3], [11, 22, 33]]

 df_dict.to_dict() 타입: <class 'dict'>
{'col1': [1, 11], 'col2': [2, 22], 'col3': [3, 33]}

---
#### **3. DataFrame의 칼럼 데이터 세트 생성과 수정**

* [   ] 내에 새로운 칼럼명을 입력하고 값을 할당하면 됨

In [97]:
titanic_df['Age_0'] = 0
titanic_df.head(3)

   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked  Age_0
0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171   7.2500   NaN        S      0
1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C      0
2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250   NaN        S      0

>> `titanic_df['Age_0'] = 0`과 같이 Series에 상숫값을 할당하면 Series의 모든 데이터 세트에 일괄적으로 적용됨

In [98]:
titanic_df['Age_by_10'] = titanic_df['Age']*10
titanic_df['Family_No'] = titanic_df['SibSp'] + titanic_df['Parch']+1
titanic_df.head(3)

   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked  Age_0  Age_by_10  Family_No
0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171   7.2500   NaN        S      0      220.0          2
1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C      0      380.0          2
2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250   NaN        S      0      260.0          1

>> 기존 칼럼 Series를 가공해 새로운 칼럼을 만듦

In [99]:
titanic_df['Age_by_10'] = titanic_df['Age_by_10'] + 100
titanic_df.head(3)

   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked  Age_0  Age_by_10  Family_No
0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171   7.2500   NaN        S      0      320.0          2
1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C      0      480.0          2
2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250   NaN        S      0      360.0          1

>> 기존 칼럼의 값도 쉽게 업데이트 가능

---

#### **4. DataFrame 데이터 삭제**

1) 데이터 삭제: `df.drop(labels=None, axis=0, inplace=False)`

* `axis 0`: 특정 행 삭제, `axis 1`: 특정 열 삭제

* `labels`: 인덱스(axis=0) / 칼럼명(axis=1) 

* `inplace`: `False`(원래 DataFrame 데이터는 삭제하지 않고 삭제 결과만 반환) / `True`(원래 DataFrame에서 삭제하고 반환 값은 None)

2) 여러 개 칼럼 삭제: `labels`에 리스트 형태로 칼럼 명 입력

In [100]:
titanic_drop_df = titanic_df.drop('Age_0', axis=1)
titanic_drop_df.head(3)

   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked  Age_by_10  Family_No
0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171   7.2500   NaN        S      320.0          2
1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C      480.0          2
2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250   NaN        S      360.0          1

>> 'Age_0' 칼럼 삭제

In [101]:
titanic_df.head(3)

   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked  Age_0  Age_by_10  Family_No
0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171   7.2500   NaN        S      0      320.0          2
1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C      0      480.0          2
2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250   NaN        S      0      360.0          1

>> 디폴트 값인 `inplace=False`이므로 원래 DataFrame 데이터는 삭제하지 않음

In [102]:
drop_result = titanic_df.drop(['Age_0', 'Age_by_10', 'Family_No'], 
                              axis=1, inplace=True)
print('inplace=True로 drop 후 반환된 값: ', drop_result)
titanic_df.head()

inplace=True로 drop 후 반환된 값:  None

   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked
0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171   7.2500   NaN        S
1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C
2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250   NaN        S
3            4         1       1  Futrelle, M...  female  35.0      1      0          113803  53.1000  C123        S
4            5         0       3  Allen, Mr. ...    male  35.0      0      0          373450   8.0500   NaN        S

>> `'Age_0'`, `'Age_by_10'`, `'Family_No'` 세 개의 칼럼 삭제

>> 반환 값은 None

In [103]:
pd.set_option('display.width',1000)
pd.set_option('display.max_colwidth',15)
print('### before axis 0 drop ###')
print(titanic_df.head(3))

titanic_df.drop([0,1,2], axis=0, inplace = True)

print('### after axis 0 drop ###')
print(titanic_df.head(3))

### before axis 0 drop ###
   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked
0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171   7.2500   NaN        S
1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C
2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250   NaN        S
### after axis 0 drop ###
   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch  Ticket     Fare Cabin Embarked
3            4         1       1  Futrelle, M...  female  35.0      1      0  113803  53.1000  C123        S
4            5         0       3  Allen, Mr. ...    male  35.0      0      0  373450   8.0500   NaN        S
5            6         0       3  Moran, Mr. ...    male   NaN      0      0  330877   8.4583   NaN        Q

>> `axis=0`이므로 인덱스 0, 1, 2에 위치한 행 삭제

----

#### **5. Index 객체**

1) 인덱스 객체 추출: `df.index`

2) 인덱스 객체의 값 추출: `df.index.values` 

3) `df.index.values.shape`: 인덱스 객체의 크기 및 모양 출력

4) `df.reset_index()`: 새롭게 인덱스를 연속 숫자형으로 할당, 기존 인덱스는 `index`라는 새로운 칼럼 명으로 추가됨

In [104]:
# 원본 파일 다시 로딩
titanic_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ESAA/titanic_train.csv")

# index 객체 추출
indexes = titanic_df.index
print(indexes)

# index 객체를 실제 값 array로 변환
print('Index 객체 array 값:\n', indexes.values)

RangeIndex(start=0, stop=891, step=1)
Index 객체 array 값:
 [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665
 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683
 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701
 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719
 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737
 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755
 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773
 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791
 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809
 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827
 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845
 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863
 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881
 882 883 884 885 886 887 888 889 890]

>> 반환된 인덱스 객체: 1차원 ndarray

>> 인덱스 객체의 values 속성으로 ndarray 값을 알 수 있음

In [105]:
print(type(indexes.values))
print(indexes.values.shape)
print(indexes[:5].values)
print(indexes.values[:5])
print(indexes[6])

<class 'numpy.ndarray'>
(891,)
[0 1 2 3 4]
[0 1 2 3 4]
6

>> ndarray와 유사하게 단일 값 반환 및 슬라이싱도 가능

In [106]:
indexes[0] = 5

TypeError: ignored

>> 한 번 만들어진 DataFrmae 및 Series의 Index 객체는 함부로 변경할 수 없음

In [107]:
series_fair = titanic_df['Fare']
print('Fair Series max 값 : ', series_fair.max())
print('Fair Series min 값 : ', series_fair.min())
print('sum() Fair Series: ', sum(series_fair))
print('Fair Series + 3:\n', (series_fair+3).head(3))

Fair Series max 값 :  512.3292
Fair Series min 값 :  0.0
sum() Fair Series:  28693.949299999967
Fair Series + 3:
 0    10.2500
1    74.2833
2    10.9250
Name: Fare, dtype: float64

>>  Series 객체는 index 객체를 포함하지만 연산 함수를 적용할 때는 제외됨

In [108]:
titanic_reset_df = titanic_df.reset_index(inplace=False)
titanic_reset_df.head(3)

   index  PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked
0      0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171   7.2500   NaN        S
1      1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C
2      2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250   NaN        S

>> 인덱스를 연속된 int 숫자형 데이터로 만들 때 주로 사용

In [109]:
print('### before reset_index ###')
value_counts = titanic_df['Pclass'].value_counts()
print(value_counts)
print('value_counts 객체 변수 타입:', type(value_counts))
print()
new_value_counts = value_counts.reset_index(inplace=False)
print('### After reset_index ###')
print(new_value_counts)
print('new_value_counts 객체 변수 타입:', type(new_value_counts))

### before reset_index ###
3    491
1    216
2    184
Name: Pclass, dtype: int64
value_counts 객체 변수 타입: <class 'pandas.core.series.Series'>

### After reset_index ###
   index  Pclass
0      3     491
1      1     216
2      2     184
new_value_counts 객체 변수 타입: <class 'pandas.core.frame.DataFrame'>

>> Series에 `reset_index()`를 적용하면 Series가 아닌 DataFrame이 반환되니 유의 (칼럼이 2개가 됨)

>> `drop=True`로 설정 시 기존 인덱스는 새로운 칼럼으로 추가되지 않고 삭제됨

>> 새로운 칼럼이 추가되지 않으면 그대로 Series로 유지

----

#### **6. 데이터 셀렉션 및 필터링**

* 판다스는 넘파이의 데이터 셀렉션과 기능이 다름

* `ix[ ]`, `iloc[ ]`, `loc[ ]` 연산자 이용

1) `ix[ ]`: 명칭 기반 인덱싱과 위치 기반 인덱싱 모두 적용 가능, 디폴트는 명칭 기반

2) `iloc[ ]`: 위치 기반 인덱싱만 가능

3) `loc[ ]`: 명칭 기반 인덱싱만 가능 -> 슬라이싱에서 종료 값도 포함

----

#### **6-1. DataFrame의 [ ] 연산자**

* '[ ]' 안에 들어갈 수 있는 것은 칼럼명 또는 인덱스로 변환 가능한 표현식

* 칼럼 추출: `df.['칼럼명']`

* 여러 개의 칼럼 추출: `df.['칼럼1', '칼럼2']`

* 불린 인덱싱 사용 가능

In [110]:
print('단일 칼럼 데이터 추출:\n', titanic_df['Pclass'].head(3))
print('\n여러 칼럼 데이터 추출:\n', titanic_df[['Survived','Pclass']].head(3))
print('[ ]안에 숫자 index는 KeryError 오류 발생:\n', titanic_df[0])

단일 칼럼 데이터 추출:
 0    3
1    1
2    3
Name: Pclass, dtype: int64

여러 칼럼 데이터 추출:
    Survived  Pclass
0         0       3
1         1       1
2         1       3

KeyError: ignored

>> `titanic_df[0]`에서 0은 칼럼명이 아니기 때문에 오류 발생

In [111]:
titanic_df[0:2]

   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch     Ticket     Fare Cabin Embarked
0            1         0       3  Braund, Mr....    male  22.0      1      0  A/5 21171   7.2500   NaN        S
1            2         1       1  Cumings, Mr...  female  38.0      1      0   PC 17599  71.2833   C85        C

>> 슬라이싱을 이용해 행 2개 반환

>> 이 방법은 사용하지 않는 게 좋음

In [112]:
titanic_df[titanic_df['Pclass']==3].head(3)

   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket   Fare Cabin Embarked
0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171  7.250   NaN        S
2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...  7.925   NaN        S
4            5         0       3  Allen, Mr. ...    male  35.0      0      0          373450  8.050   NaN        S

>> 불린 인덱싱을 이용해 Pclass 칼럼 값이 3인 데이터 추출

----

#### **6-2. DataFrame ix[ ] 연산자**

1) `ix[0, 'Pclass']`: 행(인덱스 값), 열(칼럼명)

2) `ix[0, 2]`: 행(인덱스 값), 열(인덱스 값)

-> 현재 사라지게 됨

In [113]:
print('칼럼 위치 기반 인덱싱 데이터 추출:', titanic_df.ix[0,2])
print('칼럼 명 기반 인덱싱 데이터 추출:', titanic_df.ix[0,'Pclass'])

AttributeError: ignored

>> ix[ ] 사용 시 오류 발생

In [114]:
data = {'Name':['Chulmin','Eunkyung','Jinwoong','Soobeom'],
        'Year':[2011,2016,2015,2015],
        'Gender':['Male','Female','Male','Male']
        }
data_df = pd.DataFrame(data, index = ['one','two','three','four'])
data_df

           Name  Year  Gender
one     Chulmin  2011    Male
two    Eunkyung  2016  Female
three  Jinwoong  2015    Male
four    Soobeom  2015    Male

----

#### **6-3. 명칭 기반 인덱싱과 위치 기반 인덱싱의 구분**

1) 명칭 기반 인덱싱: 칼럼의 명칭을 기반으로 위치를 지정

2) 위치 기반 인덱싱: 0을 출발점으로 하는 가로축, 세로축 좌표 기반의 행과 열 위치를 기반으로 데이터 지정

In [115]:
# data_df를 reset_index()로 새로운 숫자형 인덱스를 생성
data_df_reset = data_df.reset_index()
data_df_reset = data_df_reset.rename(columns = {'index':'old_index'})

# 인덱스값에 1을 더해서 1부터 시작하는 새로운 인덱스값 생성
data_df_reset.index = data_df_reset.index+1
data_df_reset

  old_index      Name  Year  Gender
1       one   Chulmin  2011    Male
2       two  Eunkyung  2016  Female
3     three  Jinwoong  2015    Male
4      four   Soobeom  2015    Male

In [116]:
data_df_reset.ix[1,1]

AttributeError: ignored

>> 인덱스 값이 1인 행(명칭 기반), 두번째 위치의 열 반환 -> 'Chulmin'

----

#### **6-4. DataFrame iloc[ ] 연산자**

* `iloc[ ]`: 위치 기반 인덱싱만 허용

* 슬라이싱과 팬시 인덱싱은 제공하나 불린 인덱싱은 제공하지 않음

In [117]:
data_df.iloc[0, 0]

'Chulmin'

>> 1행 1열 데이터 반환

In [118]:
# 다음 코드는 오류를 발생합니다.
data_df.iloc[0, 'Name']

ValueError: ignored

>> iloc[ ]에 위치 인덱싱이 아닌 명칭을 입력하면 오류 발생

In [119]:
# 다음 코드는 오류를 발생합니다.
data_df.iloc['one',0]

ValueError: ignored

>> 문자열 인덱스를 행 위치에 입력해도 오류 발생

In [120]:
data_df_reset.iloc[0, 1]

'Chulmin'

>> 1행 2열의 데이터 반환

----

#### **6-5. DataFrame loc[ ] 연산자**

* `loc[ ]`: 명칭 기반으로 데이터 추출

* `loc[ ]`에 슬라이싱 기호를 적용하면 시작~종료 값까지 포함해서 반환

In [121]:
data_df.loc['one','Name']

'Chulmin'

>> 행 이름 'one', 열 이름 'Name'인 데이터 반환

In [122]:
data_df_reset.loc[1, 'Name']

'Chulmin'

>> 인덱스 값이 숫자이기 때문에 문자열이 아닌 숫자 입력

In [123]:
# 다음 코드는 오류를 발생합니다.
data_df_reset.loc[0,'Name']

KeyError: ignored

>> 인덱스값이 0인 행이 없으므로 오류 반환

In [124]:
#print('명칭 기반 ix slicing\n', data_df.ix['one':'two','Name'],'\n')
print('위치 기반 iloc slicing\n', data_df.iloc[0:1,0],'\n')
print('명칭 기반 loc slicing\n', data_df.loc['one':'two','Name'])

위치 기반 iloc slicing
 one    Chulmin
Name: Name, dtype: object

명칭 기반 loc slicing
 one     Chulmin
two    Eunkyung
Name: Name, dtype: object

>> 위치 기반 `iloc[ ]`는 1개의 행 반환

>> 명칭 기반 `loc[ ]`는 2개의 행 반환

In [125]:
print(data_df_reset.loc[1:2, 'Name'])

1     Chulmin
2    Eunkyung
Name: Name, dtype: object

>> 명칭 기반 인덱싱이므로 인덱스 값이 1, 2인 2개의 데이터 반환

----

#### **6-6. 불린 인덱싱**

* 불린 인덱싱으로 데이터를 가져오는 경우가 가장 많음

* `[ ]`, `ix[ ]`, `loc[ ]`에서 공통으로 지원하지만 `iloc[ ]`에서는 지원 안 됨

* `df.[조건][칼럼명]`

1) and 조건: &

2) or 조건: |

3) not 조건: ~

In [126]:
titanic_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ESAA/titanic_train.csv")
titanic_boolean = titanic_df[titanic_df['Age']>60]
print(type(titanic_boolean))
titanic_boolean

<class 'pandas.core.frame.DataFrame'>

     PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch       Ticket      Fare        Cabin Embarked
33            34         0       2  Wheadon, Mr...    male  66.0      0      0   C.A. 24579   10.5000          NaN        S
54            55         0       1  Ostby, Mr. ...    male  65.0      0      1       113509   61.9792          B30        C
96            97         0       1  Goldschmidt...    male  71.0      0      0     PC 17754   34.6542           A5        C
116          117         0       3  Connors, Mr...    male  70.5      0      0       370369    7.7500          NaN        Q
170          171         0       1  Van der hoe...    male  61.0      0      0       111240   33.5000          B19        S
252          253         0       1  Stead, Mr. ...    male  62.0      0      0       113514   26.5500          C87        S
275          276         1       1  Andrews, Mi...  female  63.0      1      0        13502   77.9583           D7        S
280          281         0       3  Duane, Mr. ...    male  65.0      0      0       336439    7.7500          NaN        Q
326          327         0       3  Nysveen, Mr...    male  61.0      0      0       345364    6.2375          NaN        S
438          439         0       1  Fortune, Mr...    male  64.0      1      4        19950  263.0000  C23 C25 C27        S
456          457         0       1  Millet, Mr....    male  65.0      0      0        13509   26.5500          E38        S
483          484         1       3  Turkula, Mr...  female  63.0      0      0         4134    9.5875          NaN        S
493          494         0       1  Artagaveyti...    male  71.0      0      0     PC 17609   49.5042          NaN        C
545          546         0       1  Nicholson, ...    male  64.0      0      0          693   26.0000          NaN        S
555          556         0       1  Wright, Mr....    male  62.0      0      0       113807   26.5500          NaN        S
570          571         1       2  Harris, Mr....    male  62.0      0      0  S.W./PP 752   10.5000          NaN        S
625          626         0       1  Sutton, Mr....    male  61.0      0      0        36963   32.3208          D50        S
630          631         1       1  Barkworth, ...    male  80.0      0      0        27042   30.0000          A23        S
672          673         0       2  Mitchell, M...    male  70.0      0      0   C.A. 24580   10.5000          NaN        S
745          746         0       1  Crosby, Cap...    male  70.0      1      1    WE/P 5735   71.0000          B22        S
829          830         1       1  Stone, Mrs....  female  62.0      0      0       113572   80.0000          B28      NaN
851          852         0       3  Svensson, M...    male  74.0      0      0       347060    7.7750          NaN        S

>> 'Age' 칼럼 값이 60보다 큰 데이터를 모두 반환

In [127]:
titanic_df[titanic_df['Age']>60][['Name',"Age"]].head(3)

              Name   Age
33  Wheadon, Mr...  66.0
54  Ostby, Mr. ...  65.0
96  Goldschmidt...  71.0

>> 불린 인덱싱을 적용한 후 반환되는 객체도 DataFrame이므로 여기서 다시 원하는 칼럼만 별도로 추출 가능

>> `df.[조건][칼럼명]`

>> 칼럼이 두 개 이상이면 [[ ]] 사용

In [128]:
titanic_df.loc[titanic_df['Age']>60, ['Name','Age']].head(3)

              Name   Age
33  Wheadon, Mr...  66.0
54  Ostby, Mr. ...  65.0
96  Goldschmidt...  71.0

>> `loc[ ]`를 이용하면 `['Name','Age']`는 칼럼 위치에 놓여야 함

In [129]:
titanic_df[(titanic_df['Age']>60) & (titanic_df['Pclass']==1) &
           (titanic_df['Sex']=='female')]

     PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch  Ticket     Fare Cabin Embarked
275          276         1       1  Andrews, Mi...  female  63.0      1      0   13502  77.9583    D7        S
829          830         1       1  Stone, Mrs....  female  62.0      0      0  113572  80.0000   B28      NaN

>> 나이가 60세 이상이고 선실 등급이 1등급이며 성별이 여성인 승객

>> 개별 조건은 ( )로 묶고 복합 조건 연산자 이용

In [130]:
cond1 = titanic_df['Age']>60
cond2 = titanic_df['Pclass']==1
cond3 = titanic_df['Sex']=='female'
titanic_df[cond1&cond2&cond3]

     PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch  Ticket     Fare Cabin Embarked
275          276         1       1  Andrews, Mi...  female  63.0      1      0   13502  77.9583    D7        S
829          830         1       1  Stone, Mrs....  female  62.0      0      0  113572  80.0000   B28      NaN

>> 개별 조건을 변수에 할당하고 이들 변수를 결합해서 불린 인덱싱 수행

----

#### **7. 정렬, Aggregation 함수, GroupBy 적용**

#### **7-1. DataFrame, Series의 정렬 - sort_values( )**

1) 데이터 정렬: `df.sort_values(by= , ascending= , inplace= )`

2) `by=['칼럼명리스트']`: 해당 칼럼으로 정렬을 수행

3) `ascending=True/False`: 오름차순/내림차순으로 정렬 (디폴트는 오름차순)

4) `inplace=False`: 원래 DataFrame은 그대로 유지, 정렬된 DataFrame을 결과로 반환 (디폴트)

In [131]:
titanic_sorted = titanic_df.sort_values(by=['Name'])
titanic_sorted.head(3)

     PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch     Ticket   Fare Cabin Embarked
845          846         0       3  Abbing, Mr....    male  42.0      0      0  C.A. 5547   7.55   NaN        S
746          747         0       3  Abbott, Mr....    male  16.0      1      1  C.A. 2673  20.25   NaN        S
279          280         1       3  Abbott, Mrs...  female  35.0      1      1  C.A. 2673  20.25   NaN        S

>> 'Name' 칼럼을 기준으로 오름차순 정렬

In [132]:
titanic_sorted = titanic_df.sort_values(by=['Pclass','Name'], ascending=False)
titanic_sorted.head(3)

     PassengerId  Survived  Pclass            Name   Sex   Age  SibSp  Parch    Ticket  Fare Cabin Embarked
868          869         0       3  van Melkebe...  male   NaN      0      0    345777   9.5   NaN        S
153          154         0       3  van Billiar...  male  40.5      0      2  A/5. 851  14.5   NaN        S
282          283         0       3  de Pelsmaek...  male  16.0      0      0    345778   9.5   NaN        S

>> 'Pclass'로 먼저 내림차순 정렬 후, 'Name'으로 내림차순 정렬

----

#### **7-2. Aggregation 함수 적용**

* `min( )`, `max( )`, `sum( )`, `count( )` 등의 함수

* df에 바로 함수를 호출할 경우 모든 칼럼에 적용되므로, 특정 칼럼들만 추출해서 적용하면 됨

In [133]:
titanic_df.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

>> 모든 칼럼에 count( ) 결과 반환

In [134]:
titanic_df[['Age','Fare']].mean()

Age     29.699118
Fare    32.204208
dtype: float64

>> 두 칼럼에만 함수 적용

----

#### **7-3. groupby( ) 적용**

* `df.groupby(by='칼럼명')`: 해당 칼럼으로 groupby됨

* groupby된 DataFrame Groupby 객체를 반환

* `df.groupby('칼럼1')['칼럼2'].agg([함수1, 함수2])`: 칼럼1을 기준으로 groupby를 한 후, 칼럼2에 대해서 함수1과 함수2를 적용시킨 결과를 반환

In [135]:
titanic_groupby = titanic_df.groupby(by='Pclass')
print(type(titanic_groupby))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [136]:
titanic_groupby = titanic_df.groupby('Pclass').count()
titanic_groupby

        PassengerId  Survived  Name  Sex  Age  SibSp  Parch  Ticket  Fare  Cabin  Embarked
Pclass
1               216       216   216  216  186    216    216     216   216    176       214
2               184       184   184  184  173    184    184     184   184     16       184
3               491       491   491  491  355    491    491     491   491     12       491

>> `groupby( )`를 호출해 반환된 결과에 aggregation 함수를 적용하면 `groupby( )` 대상 칼럼을 제외한 모든 칼럼에 함수 적용

>> 'Pclass'를 기준으로 함수 결과 반환

In [137]:
titanic_groupby = titanic_df.groupby('Pclass')[['PassengerId','Survived']].count()
titanic_groupby

        PassengerId  Survived
Pclass
1               216       216
2               184       184
3               491       491

>> 두 개의 칼럼에만 `count( )` 수행

In [138]:
titanic_df.groupby('Pclass')['Age'].agg([max,min])

         max   min
Pclass
1       80.0  0.92
2       70.0  0.67
3       74.0  0.42

>> in SQL

>> SELECT MAX(Age), MIN(Age)

>> FROM titanic_table

>> GROUP BY Pclass

In [139]:
agg_format = {'Age':'max', 'SibSp':'sum', 'Fare':'mean'}
titanic_df.groupby('Pclass').agg(agg_format)

         Age  SibSp       Fare
Pclass
1       80.0     90  84.154687
2       70.0     74  20.662183
3       74.0    302  13.675550

>> `.agg( )` 내에 딕셔너리 형태로 aggregation이 적용될 칼럼들과 aggregation 함수를 입력

----

#### **8. 결손 데이터 처리하기**

* 결손 데이터: 칼럼에 값이 없는, 즉 NULL인 경우

* 결손 데이터는 넘파이의 NaN으로 표시

* NaN 값은 평균, 총합 등의 함수 연산 시 제외됨

1) `isna( )`: NaN 여부를 확인

2) `fillna( )`: NaN 값을 다른 값으로 대체

----

#### **8-1. isna( )로 결손 데이터 여부 확인**

* DataFrame에 `isna( )`을 수행하면 모든 칼럼에 대해 값이 NaN인지 True, False로 알려줌

* `sum( )` 함수를 추가하면 결손 데이터 개수를 구할 수 있음

In [140]:
titanic_df.isna().head(3)

   PassengerId  Survived  Pclass   Name    Sex    Age  SibSp  Parch  Ticket   Fare  Cabin  Embarked
0        False     False   False  False  False  False  False  False   False  False   True     False
1        False     False   False  False  False  False  False  False   False  False  False     False
2        False     False   False  False  False  False  False  False   False  False   True     False

In [141]:
titanic_df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

>> 결손 데이터 개수 구하기 : True는 1, False는 0으로 변환됨

----

#### **8-2. fillna( )로 결손 데이터 대체하기**

* `df['칼럼명'].fillna('변경값')`

* `fillna( )`를 이용한 후 반환 값을 다시 받거나 `inplace=True`를 추가해야 원래 DataFrame이 변경 됨

In [142]:
titanic_df['Cabin'] = titanic_df['Cabin'].fillna('C000')
# titanic_df['Cabin'].fillna('C000', inplace=True)
titanic_df.head(3)

   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked
0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171   7.2500  C000        S
1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C
2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250  C000        S

In [143]:
titanic_df['Age'] = titanic_df['Age'].fillna(titanic_df['Age'].mean())
titanic_df['Embarked'] = titanic_df['Embarked'].fillna('S')
titanic_df.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

>> 'Age' 칼럼의 NaN 값을 평균 나이로, 'Embarked' 칼럼의 NaN 값을 'S'로 대체

----

#### **9. apply lambda 식으로 데이터 가공**

* 복잡한 데이터 가공이 필요한 경우 apply lambda를 이용

* `df['칼럼명'].apply(lambda '입력인자' : '반환값')`

In [144]:
def get_square(a):
  return a**2

print('3의 제곱은:', get_square(3))

3의 제곱은: 9

In [145]:
lambda_square = lambda x : x**2
print('3의 제곱은:', lambda_square(3))

3의 제곱은: 9

>> `lambda '입력인자' : '반환값'`

In [146]:
a = [1,2,3]
squares = map(lambda x: x**2, a)
list(squares)

[1, 4, 9]

>> 여러 개의 값을 인자로 사용해야 할 경우에는 `map()` 함수를 결합해서 사용

In [147]:
titanic_df['Name_len'] = titanic_df['Name'].apply(lambda x : len(x))
titanic_df[['Name','Name_len']].head(3)

             Name  Name_len
0  Braund, Mr....        23
1  Cumings, Mr...        51
2  Heikkinen, ...        22

>> 'Name' 칼럼의 문자열 개수를 'Name_len' 칼럼에 생성

In [148]:
titanic_df['Child_Adult']=titanic_df['Age'].apply(lambda x : 'Child' 
                                                  if x<=15 
                                                  else 'Adult')
titanic_df[['Age','Child_Adult']].head(8)

         Age Child_Adult
0  22.000000       Adult
1  38.000000       Adult
2  26.000000       Adult
3  35.000000       Adult
4  35.000000       Adult
5  29.699118       Adult
6  54.000000       Adult
7   2.000000       Child

>> 나이가 15세 미만이면 'Child', 그렇지 않으면 'Adult' 반환

>> if 절의 경우 if 식보다 반환 값을 먼저 기술해야 함

>> if, else만 지원하고 else if는 지원하지 않음

In [149]:
titanic_df['Age_cat'] = titanic_df['Age'].apply(lambda x: 'Child' if x<=15
                                                else ('Adult' if x<=60 else 'Elderly'))
titanic_df['Age_cat'].value_counts()

Adult      786
Child       83
Elderly     22
Name: Age_cat, dtype: int64

>> else if를 이용하기 위해서는 else 절을 ( )로 내포해 ( ) 내에서 다시 if, else를 적용해야 함

>> 이때도 if 식보다 반환 값을 먼저 기술해야 함

In [150]:
# 나이에 따라 세분화된 분류를 수행하는 함수 생성
def get_category(age):
    cat= ''
    if age<=5 : cat = 'Baby'
    elif age<=12: cat = 'Child'
    elif age<=18: cat = 'Teenager'
    elif age<=25: cat = 'Student'
    elif age<=35: cat = 'Young Adult'
    elif age<=60: cat = 'Adult'
    else : cat = 'Elderly'

    return cat

# lambda 식에 위에서 생성한 get_category() 함수를 반환값으로 지정
# get_category(X)는 입력값으로 'Age'칼럼 값을 받아서 해당하는 cat 반환

titanic_df['Age_cat'] = titanic_df['Age'].apply(lambda x : get_category(x))
titanic_df[['Age','Age_cat']].head()

    Age      Age_cat
0  22.0      Student
1  38.0        Adult
2  26.0  Young Adult
3  35.0  Young Adult
4  35.0  Young Adult

>> x에는 'Age' 칼럼의 데이터가 들어가고 반환값으로는 get_category(x)를 반환